#subjects {
    grid-column: 1/5;
}

#subjects {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
}

#subjects td,
#subjects th {
    border: 1px solid #ddd;
    padding: 8px;
}

#subjects tr:hover {
    background-color: #ddd;
}

#subjects th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #5998ff;
    color: white;
}